@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e4e4e4;
  width: 90%;
  height: 100%;
  
}
.all-blok {
  position: absolute;
  border-radius: 10px;
}
.blok {
  position: relative;
  min-width: 1240px;
  min-height: 840px;
  padding: 2%;
}

.blok_1 {
  background-color: #f2f2f2;
  height: 66%;
  width: 28%;
  padding: 2%;
}

.blok_2 {
  background-color: #ffffff;
  height: 8%;
  width: 68%;
  left: 32%;
  padding: 2%;
}
.left {
  font-size: 30px;
  bottom: auto;
}
.blok_3 {
  background-color: #ffffff;
  height: 56%;
  width: 68%;
  left: 32%;
  top: 13%;
  padding: 2%;
}
h1 {
  font-size: 25px;
  top: 0px;
  left: 20px;
}
p {
  font-size: 20px;
  padding: 8px;
}
.img {
  border-radius: 10px;
}
b {
  font-size: 22px;
}
li {
  font-size: 20px;
  list-style: none;
}

.buttom {
  background-color: white;
  border-radius: 100%;
  font-size: 20px;
}
.comment {
  font-size: 15px;
  padding-left: 40px;
}

.box {
  padding: 20px 0px 800px 670px;
  font-size: 30px;
  aspect-ratio: 1;
  position: absolute;
  top: 0px;
}
/* .is-ruls {
  background:  #d7deeb;
  border-radius: 8px;
  width: 680px;
  padding: 8px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  aspect-ratio: 1;
  position: absolute;
  top: 30px; 
  right:30px;
} */
/* .blok_4 {
  background-color: #f8f8f8;
  height: 27%;
  width: 33%;
  top: 13%;
  left: 67%;
}
.blok_5 {
  background-color: #ffffff;
  height: 27%;
  width: 33%;
  left: 67%;
  top: 42%;
} */
